.App {
  text-align: center;
 height:1000px;
width:fit-content;
 margin-left:-7.9px; 
 font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
    
}

#light {
  background-color: #CCEBE9;
}

#dark {
  background-color: #0a0a03 ;
  
 

}
.switch {
  display: flex;
  width: 100vw;
  position: relative;
top:9rem;
  justify-content: center;
  align-items: center;
}

.switch label {
  margin: 10px;
}

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}
@media only screen and (max-width: 470px) {
 .switch {
  
top:12rem;
  
}
 
}