.app {
  
 display: flex;
  flex-direction: column;

position: relative;
  margin: 0 auto;
  
top:8rem;
 background-color:#fff;
color: #171D3C;
  transition: 0.3s;
  width: 35%;
  border-radius: 42px;
height:500px;
box-shadow: -31px -33px  #B8D4E4;


}
.container{
margin:27px 45px;
}
.title{


line-height: 12px;
text-align: left;
align-items: left;
padding-bottom: 2px;
}
h2{
  font-size: 25px;
}
p{
  font-family: 'Poppins';
 text-align: left;
 font-size: 18px;
}


img{
   float: left;
   padding-right: 14px;
    padding-top: 4px;
    border-radius: 70px;
}
.stock{
  background-color: #81BD45;
  border-radius: 23px;
  Padding:6px 12px;
  border-color: #81BD45;
    border: none;
  color: white;
display: flex;
  align-items:left;
margin-top: -7px;
}
.display{
 padding-top: 10px;
}
.app > * {
 
  /* margin-bottom: 28px; */
}


.buttons {

 padding-top: 10px;
  display: flex;

  
}
.positive{
  margin: 3px;
  border: 1.63758px solid #E0F2FA;
 background-color: 
#E0F2FA;

  color:
#171D3C;
 border-radius: 5px;
}
.negative{
  font-size: bolder;
   margin: 3px;
 background-color: 
#E0F2FA;
 border: 1.63758px solid #E0F2FA;
  color:
#171D3C;
 border-radius: 5px;
}
.value{
  margin: 3px;
  
   border: 1.63758px solid #C6CAD2;
   background-color: 
#fff;
 border-radius: 5px;
}
.reset{
    margin: 5px;
    border: 1.63758px solid #C6CAD2;
   background-color: 
#fff;
 border-radius: 5px;
}
hr{

height: 2px;
margin-top: 25px;
background: #C6C9D2;
border-radius: 11px;

}
* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

#light .app {
  background-color: #fff;
 
}

#dark .app {
  background-color: #1c1c19;
   color: #fff;
   box-shadow: -31px -33px  #8a959b;
}

@media only screen and (max-width: 1100px) {
  
    .title{


line-height: 6px;

padding-bottom: 0px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 17px;
}
.display{
 
 font-size: 12px;
}

p{
  font-size: 15px; 
}

  }

  @media only screen and (max-width: 730px) {
  hr{
    margin-top: 16px;
  }
  p{
  font-size: 12px; 
  
}
h3{
  font-size: 14px;
}
h2{
  font-size: 12px;
}

}
 @media only screen and (max-width: 650px) {

 }
@media only screen and (max-width: 470px) {
  .app{
    top: 11rem
  }
  .container{
margin:15px 25px;
justify-content: center;
}
h2{
line-height: 12px;
  font-size: 12px;
 text-align: center;
}
img{
 margin-left: 20px;
 width: 70px;
   padding-top: 5px;  
}
p{
  padding-bottom:1px;
  text-align: center;
}
.stock{
   border-radius: 23px;
justify-content: center;
font-size: 9px;
 width: 70px;
  margin-left: 15px;
 /* padding-left: 18px; */
}
.positive{
  margin: 1px;
  font-size: 10px;
}
.reset{
  margin: 1px;
  font-size: 7px;
}
.negative{
 margin:1px;
  font-size: 10px;
}
.value{
  margin: 1px;
  font-size: 10px;
}
h3{
  font-size: 12.5px;
  padding-bottom: 15px;
    padding-left: 6px;
}
.type{
 font-size: 10px;
}

}

button:hover {
  opacity: 0.75;
}
